ext=pdf,zip,png,jpg,jpeg,ttf,eot,svg,mp3,woff,woff2,rar,mp4,otf,docx
removes=ovpn,crdownload,exe,json,xml,html,php,csv,po,mo,xlsx,dot

pdf_dest=/home/mohammad/PDF

png_dest=/home/mohammad/Pictures/Images
jpg_dest=/home/mohammad/Pictures/Images
jpeg_dest=/home/mohammad/Pictures/Images
svg_dest=/home/mohammad/Pictures/Images

zip_dest=/home/mohammad/Downloads/ZIP
rar_dest=/home/mohammad/Downloads/RAR

ttf_dest=/home/mohammad/Downloads/Font
eot_dest=/home/mohammad/Downloads/Font
woff_dest=/home/mohammad/Downloads/Font
woff2_dest=/home/mohammad/Downloads/Font
otf_dest=/home/mohammad/Downloads/Font

mp3_dest=/home/mohammad/Music

mp4_dest=/home/mohammad/Videos

docx_dest=/home/mohammad/Downloads/Docx
